// Place all the styles related to the meats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: white;
$secondary-color: tomato;
$font: Lato, sans-serif;

body {
	background: $primary-color;
	font-family: $font;
	font-weight: 300;
	padding-top: 100px;
	padding-bottom: 50px;
}

img {
	
}

h1 {
	font-size: 3em;
	font-weight:300;
	margin: 0 0 50px 0;
}

button {
	display:inline-block;
	background:$secondary-color;
	border: 0;
	border-radius: 5px;
	font-size: 1em;
	font-family: $font;
	font-weight: 300;
	padding: 8px 12px 8px 12px;
}

.container {
	max-width: 900px
}

.meat {
	display: inline-block;
}

.meat img {
	
}

.wrap {
	display:inline-block;
	margin: 0 25px 0 0;
}

#wrapper {
	text-align: center;
	padding: 50px 0 0 0;
	display:block;
}

#functions {
	margin: 50px 0 0 0;
}

#results {
	font-size: 3em;
	font-weight:400;
	display: block;
	
	background: tomato;
	margin: 0 0 50px 0;
}

#jumbo {
	
}

form p {
	;
}

.caption h3 small {
	font-size: 0.5em;
}

.crop {
    width: 260px;
    height: 200px;
    overflow: hidden;
}

.crop img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    margin: -75px 0 0 -100px;
}

#shuffle {
	height: 100px;
}

#jumbo {
	font-size: 5em;
}
